# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# local caches created during development
.cache/
.config/
.pub-cache/
.gradle-home/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
