.tooling/
app/.dart_tool/
app/build/
app/.flutter-plugins*
app/android/local.properties
app/android/.gradle/
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/flutter_export_environment.sh
**/__pycache__/
*.pyc
pipeline/.runs/
